version: "3.8"

services:
  backend:
    build: ./src/backend
    # ports:
    #   - "8080:8080"
    env_file:
      - .env
    environment:
      - SESSION_SECRET=yourSessionSecret
      - FRONTEND_URL=http://localhost:5173
      - DISCORD_CLIENT_ID=yourDiscordClientId
      - DISCORD_CLIENT_SECRET=yourDiscordClientSecret
      - DISCORD_REDIRECT_URI=http://localhost:8080/api/auth/discord/callback
    volumes:
      # Map the host database file (persisted) to the container.
      - ./src/backend/src/go-to-hell.db:/app/go-to-hell.db
    depends_on:
      - frontend

  frontend:
    build: ./src/frontend
    ports:
      - "5173:80"
    environment:
      - REACT_APP_BACKEND_URL=http://localhost:8080

volumes:
  db_data: