version: "3.8"

services:
  backend:
    build: ./src/backend
    ports:
      # host port : container port
      - "8080:8080"  # port of the GIN API Endpoint
    env_file:
      - .env

    volumes:
      # Map the host database file (persisted) to the container.
      - ./data:/root/db
    depends_on:
      - frontend

  frontend:
    build:
      context: ./src/frontend
      dockerfile: Dockerfile
      args:
        BACKEND_URL: ${BACKEND_URL}
    ports:
      - "5173:80"
    env_file:
      - .env

  chevereto:
    image: lscr.io/linuxserver/chevereto
    container_name: chevereto
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
    volumes:
      - ./data/chevereto/config:/config
      - ./data/chevereto/data:/data
    ports:
      - 8082:80
      # - 443:443
    restart: unless-stopped
    depends_on:
      - chevereto-db

  chevereto-db:
    image: lscr.io/linuxserver/mariadb
    container_name: chevereto-db
    environment:
      PUID: 1000
      PGID: 1000
      TZ: UTC
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: chevereto
      MYSQL_USER: chevereto
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./chevereto_db/config:/config
    restart: unless-stopped
