version: "3.8"

services:
  backend:
    build: ./src/backend
    ports:
      # host port : container port
      - "8080:8080"  # port of the GIN API Endpoint
    env_file:
      - .env

    volumes:
      # Map the host database file (persisted) to the container.
      - ./data:/app
    depends_on:
      - frontend

  frontend:
    build:
      context: ./src/frontend
      dockerfile: Dockerfile
      args:
        BACKEND_URL: ${BACKEND_URL}
    ports:
      - "5173:80"
    env_file:
      - .env


volumes:
  db_data: